.markdown-section code {
  background-color: #424242;
  color: #bdbdbd;
  padding: 2px 8px;
  margin: 2px;
  border-radius: 4px;
  font-family: monospace;

}
.markdown-section a {
  color: #6d839b;
  padding: 0px 8px;
  border-radius: 4px;
  background-color: rgba(72, 99, 104, 0);
}
.markdown-section a:hover {
  transition: all 0.16s cubic-bezier(0.32, 1, 0.32, 1);
  color: #6d839b;
  padding: 0px 8px;
  border-radius: 4px;
  background-color: rgba(72, 99, 104, 0.384);
}
.code-section ::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}
.code-section ::-webkit-scrollbar-thumb {
  transition: background-color 0.64s cubic-bezier(0.32, 1, 0.32, 1);
  background-color: rgba(32, 32, 32, 1);
  border-radius: 10px;
  border: 3px solid rgba(22, 22, 22, 1);
}
.code-section ::-webkit-scrollbar-thumb:hover {
  transition: background-color 0.64s cubic-bezier(0.32, 1, 0.32, 1);
  background-color: rgba(64, 64, 64, 1);
}
